@font-face {
	font-family: "FoodIconsFont";
	src: url("./../fonts/FoodIconsFont.eot");
	src: 
		url("./../fonts/FoodIconsFont.woff") format("woff"),
		/*url("./../fonts/FoodIconsFont.otf") format("opentype"),*/
		url("./../fonts/FoodIconsFont.svg#filename") format("svg");
}

i[class^='ic-']:before {
  display: block;
  font-family: FoodIconsFont, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.ic-sushi:before {
  font-family: FoodIconsFont, sans-serif;
  content: "\e916";
}

.ic-french-fries:before {
  font-family: FoodIconsFont, sans-serif;
  content: "\e90b"
}

.ic-cupcake:before {
  font-family: FoodIconsFont, sans-serif;
  content: "\e909"
}

.ic-sauces:before {
  font-family: FoodIconsFont, sans-serif;
  content: "\e914"
}

.ic-bucket:before {
  font-family: FoodIconsFont, sans-serif;
  content: "\e901"
}

.ic-juice:before {
  font-family: FoodIconsFont, sans-serif;
  content: "\e910"
}

.ic-wok:before {
  font-family: FoodIconsFont, sans-serif;
  content: "\e906"
}
